name: Build Windows Executable on Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.11'

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install PyQt5
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build executable
        run: |
          pyinstaller -n umlfri2 main.py

      - name: Upload executable to release
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: |
            dist/main.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
